@font-face {
  font-family: "Dreamlife";
  src: url("../../fonts/miiverse/DreamLife.ttf");
}

@font-face {
  font-family: "Dreamland";
  src: url("../../fonts/miiverse/Dreamland.otf");
}

@font-face {
  font-family: "Dita";
  src: url("../../fonts/miiverse/Dita.otf");
}

@font-face {
  font-family: "Dita Bold";
  src: url("../../fonts/miiverse/Dita-Bold.otf");
}

* {
  box-sizing: border-box;
  font-weight: normal;
  margin: 0;
  padding: 0;
  color: #03243d;
}

a {
  text-decoration: none;
}

body {
  background-image: url("../../graphics/misc/miiverse/mii-bg1.png");
  background-size: 50%;
  background-position: 0 0;
  animation: animate-bg 60s linear infinite;
}

h1 {
  font-family: "Dreamlife";
  font-size: 4rem;
  font-weight: normal;
}

@keyframes animate-bg {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 1448px 1448px;
  }
}

.o-navbar {
  position: relative;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3rem 4rem;
}

.o-navbar::after {
  content: "";
  background: url("../../graphics/misc/miiverse/mii-nav-wave.svg");
  background-repeat: repeat-x;
  background-position: 0;
  background-size: 200% 100%;
  left: 0;
  top: 0;
  width: 100%;
  height: 120%;
  position: absolute;
  z-index: -1;
  overflow: visible;
  animation: animate-navbar 20s linear infinite;
}

@keyframes animate-navbar {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 200%;
  }
}

.o-navbar__center {
  margin-left: 10rem;
}