/*
    for the pages that open up when you click
    on all the extra links
*/



/* --- setting up the format! (START) --- */

    body {
        background: url(/graphics/sitestuff/space_bg_2.gif);
        background-color: #0f0d11;
        background-attachment: fixed;
    }

    .main-div {
        border: 3px dotted #5A388E;
        border-radius: 15px;
        margin: 20px auto 20px auto;
        padding: 20px;
        max-width: 690px; /* OG: 680px */
        text-align: justify;
        background-color: #241C2D;
    }

    @media
        only screen and (max-width: 800px) {
            /* when on a small screen, this is what you do: */
            body {
                background: #241C2D;
            }

            .main-div {
                margin: 20px auto 0 auto;
                padding: 20px 20px 10px 20px;
                border: none;
            } 
        }

        

/* --- setting up the format! (END) --- */




/* --- old --- */
  /*  body {
        background-image: none;
        background-color: #241C2D;
        text-align: justify;
        margin: 20px auto 10px auto;
        padding: 15px;
        max-width: 650px;
    } */
/* --- old --- */
