
/*
    this is for all the features that are shared by the website
    (well, excluding shrines and character pages, that is...)
    (those pages will have their own unique css)

    (like ok can you imagine having diff themed websites for
    specific characters and interests??? that's really epic O_O)

    (imagine also differently themes blog pages. but that one's
    a bit too difficult for when you just wanna blog)

    (basically, the index will only serve as the "hub")
*/



/* --- WEBSITE FONTS (START) --- */

    @font-face { /* font for important text */
        font-family: "Moon";
        src: url(/fonts/Moon.ttf) format("truetype");
    }

    @font-face { /* font for usual text */
        font-family: "Pangolin";
        src: url(/fonts/Pangolin.ttf) format("truetype");
    }

    @font-face {
        font-family: "FA-Solid";
        src: url(/fonts/FA-Solid.ttf) format("truetype");
    }

/* --- WEBSITE FONTS (END) --- */




/* --- ROOT VARIABLES (START) --- */

    :root {
        /* height of content container */
        --content-container-height: 570px;
        /* main box style (for quick access) */
        --box-main-border-style: 5px double #5A388E;
        --box-spacing: 10px;
        /* box colors (for further tweaking) */
        --box-bg-color: #241C2D;
        --box-border-color: #5A388E;
        /* for rounded boxes */
        --box-border-radius: 15px;
        /* global font settings */
        --global-font: "Pangolin", "Comic Sans MS", "Comic Sans";
        --global-font-color: #E4CAED;
        --global-font-size: 14px;
    }

/* --- ROOT VARIABLES (END) --- */





/* --- resetting formatting! (START) -- */

    h1, h2, h3, h4, h5, h6 {
        font-weight: unset;
        font-size: initial;
        margin: 0;
    }

    ul {
        margin: 0;
    }

/* --- resetting formatting! (END) -- */




/* --- setting up the formatting! (START) --- */

    body {
        /* global font settings for document */
        font-family: var(--global-font);
        font-size: var(--global-font-size);
        color: var(--global-font-color);
        line-height: 1.5;
        letter-spacing: 0.5px;
    }

    p {
        margin: 10px 0px;  
    }

    * {
        box-sizing: border-box;
    }

/* --- setting up the formatting! (END) */





/* --- MISC DESIGN CLASSES (START) --- */

    .flex-container { /* for divs that are flex containers */ /* will be used to wrap them later */
        display: flex;
    }

    .round-corners { /* for boxes with round corners */ /* footer and marquee */
        border: 1px;
        border-radius: var(--box-border-radius);
    }

    .box-content { /* for general spacing of content inside boxes. may vary */
        padding: var(--box-spacing);
    }

    .main-box-style { /* for most boxes (e.g. link nav) */
        border: var(--box-main-border-style); /* double */
        background-color: #241C2D;
        padding: var(--box-spacing);
        overflow-y: auto;
        scrollbar-width: thin;
    }

    .other-box-style { /* for some smaller boxes (e.g. updates) */
        border: 3.5px dotted var(--box-border-color);
        background-color: #3d2856;
        overflow-y: auto;
        scrollbar-width: thin;
    }

    .space-for-text { /* the spaces where you can write stuff (e.g. about me) */
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--box-spacing);
    }

    .box-label { /* for labelling updates and link nav */
        padding: 8px 20px;
        margin: 0px auto -5px auto; /* center the label and leave space after */
        font-weight: bold;
        font-size: 100%;
        text-align: center;
        text-transform: uppercase;
        border: #5A388E;
        background-color: #5A388E;
        width: 100%;
        box-sizing: border-box;
        border-radius: 5px;
    }

    .update-date {
        text-align: center;
        text-decoration: underline;
    }

    .box-needs-scrollbar {
        scrollbar-color: /* scroll handle */ #8c61cd /* scroll bg */ #5A388E;
         scrollbar-width: thin;
    }

    .rainbow-border {
        border: 2px solid transparent;
        border-image: linear-gradient(135deg, #ff2259, #ff602f, #ffc62a, #06c76d, #319fff, #5043e4, #bc31d1) 1;
    }

    .rainbow-border-2 { /* compatible with border-radius and the like */
        position: relative;
    }

    .rainbow-border-2::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 15px; 
        pointer-events: none;
        padding: 2px; /* this is the border */ 
        background: linear-gradient(135deg, #ff2259, #ff602f, #ffc62a, #06c76d, #319fff, #5043e4, #bc31d1); 
        mask: 
            linear-gradient(#fff 0 0) content-box, 
            linear-gradient(#fff 0 0);
        mask-composite: exclude; 
    }

    .rainbow-text {
        color: transparent;
        background-image: linear-gradient(to right, rgb(255, 54, 104), rgb(255, 132, 95), rgb(255, 210, 126),rgb(93, 255, 185), rgb(105, 185, 255), rgb(109, 96, 255), rgb(218, 85, 255));
        background-clip: text;
    }

/* --- MISC DESIGN CLASSES (END) --- */




/* --- CUSTOM GLOBAL ELEMENTS (START) --- */

    /* links */ 

        a {
            position: relative;
            color:#a468ff;
            text-decoration: none;
            cursor: url(/graphics/sitestuff/star_cursor_click.png), default;
        }

        a:hover { /* will revamp soon */
            color: transparent;
            background-image: linear-gradient(to right, rgb(255, 54, 104), rgb(255, 132, 95), rgb(255, 210, 126),rgb(93, 255, 185), rgb(105, 185, 255), rgb(109, 96, 255), rgb(218, 85, 255));
            background-clip: text;
            transition: all 300ms;
            cursor: url(/graphics/sitestuff/star_cursor_click.png), default;
        }

        /*
        a::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0.09em;
            background: linear-gradient(135deg, #ff2259, #ff602f, #ffc62a, #06c76d, #319fff, #5043e4, #bc31d1);
            opacity: 0;
            transition: opacity 300ms;
        }

        a:hover::after {
            opacity: 1;
        }

        */

    /* dividers */

        hr {
            margin: 25px 0px;
        }

        /* rainbow divider */

        hr.rainbow-divider { 
            background: url("/graphics/sitestuff/tinyspace/rainbow_stars_divider.gif") repeat-x top right;
            background-size: contain;
            display: block;
            height: 10px;
            border: none;
            position: relative;
    
        }
    
        hr.rainbow-divider:before,
        hr.rainbow-divider:after {
            content: '';
            display: block;
            position: absolute;
        }
    
        hr.rainbow-divider:before {
            left: 0;
            right: 50%;
            margin-right: 10px;
        }
            
        hr.rainbow-divider:after {
            right: 0;
            left: 50%;
            margin-left: 10px;
        }
    
        /* dashed divider */
        
        hr.dashed-divider {
            border-width: 1.5px;
            border-color: #5A388E;
            border-style: dashed;
        }

    /* scrollbar */

    /* custom scrollbar for firefox */

        html {
            scroll-behavior: smooth;
            scrollbar-color: /* scroll handle */ #8c61cd /* scroll bg */ #5A388E;
            scrollbar-width: thin;
        }

    /* custom scrollbar for other browsers */

        ::-webkit-scrollbar {
            width: 10px;
        }

        /* scroll handle */
        ::-webkit-scrollbar-thumb {
            background: #8c61cd;
        }

        /* scroll bg */
        ::-webkit-scrollbar-track {
        background: #5A388E;
        }
    
        /* Scroll handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #8c61cd;
        }

    /* bullet points and ul */

        ul li::before {
            content: "\2605";
            margin-right: 10px;
        }

        ul {
            list-style-type: none;
            list-style-position: inside;
            padding-left: 10px;
        }

        li {
            margin-bottom: 3px;
        }

        /* manual bullet colors (because some lists won't cooperate) */

            .li-1::before {
                color: #db1748;
            }

            .li-2::before {
                color: #e8653d;
            }

            .li-3::before {
                color: #e3aa40;
            }

            .li-4::before {
                color: #24997C;
            }

            .li-5::before {
                color: #4794D9;
            }

            .li-6::before {
                color: #463acf;
            }

            .li-7::before {
                color: #b0169c;
            }

        /* automated bullet colors */

            .rainbow-list li:nth-child(7n + 1)::before {
                color: #db1748;
            }

            .rainbow-list li:nth-child(7n + 2)::before {
                color: #e8653d;
            }

            .rainbow-list li:nth-child(7n + 3)::before {
                color: #e3aa40;
            }

            .rainbow-list li:nth-child(7n + 4)::before {
                color: #24997C;
            }

            .rainbow-list li:nth-child(7n + 5)::before {
                color: #4794D9;
            }

            .rainbow-list li:nth-child(7n + 6)::before {
                color: #463acf;
            }

            .rainbow-list li:nth-child(7n + 7)::before {
                color: #b0169c;
            }

    /* cursor */

        html {
            cursor: url(/graphics/sitestuff/star_cursor.png), default;
        }
    
/* --- CUSTOM GLOBAL ELEMENTS (END) --- */



    
/* --- specific customizations (START) ---  */

    /* gallery */
    /* specific width & height will be declared
    in actual document. default is 140x140px though */

        .gallery {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
            gap: 10px;
            max-width: 690px;
        }

        /*
        .gallery img {
            width: 140x;
            height: 140px;
            border: 5px solid #5A388E;
        }
        */

        /* unusued class... for dropdown */
        /*
        .show-gallery {
            display: flex;
        }
        */

        /*
        .gallery img:hover {
            transform: scale(1.05);
            transition: all 0.5s;
        }
        */

        /* for when there's a caption attached */
        .gallery p {
            font-size: 14px;
            font-weight: 800;
            text-align: center;
            margin-top: 2px;
        }

    /* gallery but with grid. testing this out right now. */

        .grid-gallery {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(min-content, 1fr)); /* min value depends on image */
            grid-template-rows: repeat(auto-fill, minmax(min-content, 1fr)); /* min value depends on image */
            gap: 5px;
            justify-items: center;
        }

        .grid-gallery img:hover {
            transform: scale(1.05);
            transition: all 0.5s;
        }

    /* text wave, used for link pages */

        .text-wave {
            padding: 5px;
        }

        .text-wave span {
            margin: 0 0.5px;
            font-family: "Moon";
            font-size: 250%;
            position: relative;
            display: inline-block;
            animation: text-wave 2s infinite;
            animation-delay: calc(.1s * var(--i));
        }
        
        @keyframes text-wave {
            0%,40%,100% {
                    transform: translateY(0)
                }
            20% {
                    transform: translateY(-8px)
                }
        }

    /* article title, for y'know. */

        .article-title {
            text-transform: uppercase;
            font-family: "Moon";
            text-align: center;
            color: #F8E4FF;
            background:linear-gradient(to right, #b5002d, #e23500, #e29403, #029656, #0b71ca, #1707c0, #92017e);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-stroke: 5px transparent;
            letter-spacing: 1px;
            font-size: 35px;
            margin-bottom: 10px;
        }

        .rainbow-header {
            padding: 2px;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
            width: 100%;
            box-sizing: border-box;
            background: linear-gradient(to right,
                rgba(255,0,0,0), rgba(219, 23, 72, 0.5),
                rgba(232, 101, 61, 0.8), rgba(227, 170, 64, 0.9),
                rgba(36, 153, 124, 0.9),rgba(71, 148, 217, 0.9),
                    rgba(70, 58, 207, 0.8), rgba(176, 22, 156, 0.5),
                    rgba(255,0,0,0));
            color: #F8E4FF;
        }

    /* back header used mostly on other pages */

        .back-header {
            margin: 10px 0;
        }
        
        .back-header a {
            font-size: 15px;
            font-weight: 800;
        }

    /* shakey objects */

        .shakey-object {
            animation: shake 0.5s infinite;
        }

        @keyframes shake {
            0% {transform: translate(0,0)}
            20% {transform: translate(1px, 1px)}
            40% {transform: translate(-1px, 1px)}
            60% {transform: translate(1px, -1px)}
            80% {transform: translate(-1px, -1px)}
            100% {transform: translate(1px, 1px)}
        }

    /* bouncy objects */

        .bouncy-object {
            animation: bounce 2s infinite alternate;
        }

        .bounce-object {
            animation: bounce 1s linear;
        }

        @keyframes bounce {
            0% {transform: translateY(0);}
            100% {transform: translateY(-10px);}
        }

    /* spinning objects */

        .spinning-object {
            animation: spin 5s infinite linear;
        }

        @keyframes spin {
            0% { transform: rotate(0deg);}
            100% { transform: rotate(360deg);}
        }

        .spinning-object-alternate {
            animation: spin 5s infinite linear;
            animation-direction: reverse;
        }

    /* marquee objects */
    /* IMPORTANT NOTE: this is pertaining to the marquees of the MUSIC TITLES! */

        .marquee-div {
            position: relative;
            overflow: hidden;
        }

        .marquee-div p {
            position: absolute;
            width: 200%; /* default. adjust this according to length of text */
            height: 100%;
            text-align: center;
            line-height: 30px;
            margin: 0;
            transform: translateX(100%);
            --marquee-time: 10s; /* default time */
            animation: marquee var(--marquee-time) linear infinite; /* increase time depending on length of marquee */
        }

        @keyframes marquee {
            0% {transform: translateX(60%);} /* outside screen */
            100% {transform: translateX(-100%);} /* going out */
        }

    /* tooltips */

        /* container */
        .tooltip {
            position: relative;
            display: inline-block;
        }

        /* text */
        .tooltip .tooltip-text {
            visibility: hidden;
            width: 120px;
            background-color: #F8E4FF;
            color: #241C2D;
            text-align: left;
            padding: 5px 0;
            border-radius: 6px;
            /* position */
            position: absolute;
            z-index: 1;
            top: 5px;
            left: 105%;
        }

        /* arrow */
        .tooltip .tooltip-text::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 20%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #241C2D transparent transparent transparent;
          }

        .tooltip:hover .tooltip-text {
            visibility: visible;
        }
                
/* --- specific customizations (END) ---  */






/* --- CSS FOR RESPONSIVENESS (START) --- */

    @media
        only screen and (max-width: 600px),
        only screen and (min-device-width: 320px)
        and (max-device-width: 660px)
        and (-webkit-min-device-pixel-ratio: 2) {
            
            /* text wave */
            .text-wave span {
                font-size: 7vw;
                margin: 0 -1px;
            }

            /* article title */
            .article-title {
                font-size: 6vw;
            } 

            /* gallery */
            /* specify image size in html file! */
            .gallery {
                justify-content: center;
                align-items: flex-start;
                width: inherit;
            }

            .flex-container {
                flex-wrap: wrap;
                height: fit-content;
            }
        }


/* --- CSS FOR RESPONSIVENESS (END) --- */
