/*
    the css for the landing pages (now approaching etc...)
*/

/*
    NOTE: all important designs are over at the "mainpage.css"
    this one is for setting up the landing pages
*/





/* --- ESSENTIALS (START) --- */

body {
    background-image: url(+graphics/space_bg_3.gif);
    background-color: #141314;
    padding: 20px;
    max-width: 80%;
}

/* --- ESSENTIALS (END) --- */