.o-main--mii {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
}

.o-mii-summary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 2rem 10rem;
  font-family: "Dita";
}

.o-mii-summary__portrait-container {
  width: 300px;
  min-width: 300px;
  max-width: 300px;
  height: fit-content;
  position: relative;
}

.o-mii-summary__portrait-container::after {
  content: "";
  position: absolute;
  background: url("../../../graphics/misc/miiverse/mii-portrait-border.svg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.o-mii-summary__portrait {
  mask-image: url(../../../graphics/misc/miiverse/mii-portrait-mask.svg);
  mask-size: 100%;
  mask-position: center;
  mask-repeat: no-repeat;
  width: 100%;
  height: auto;
}

.o-mii-summary__name {
  position: relative;
  width: fit-content;
  margin-bottom: 1.5rem;
}

.o-mii-summary__name::after {
  content: "";
  background: url("../../../graphics/misc/miiverse/mii-underline.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 25px;
  position: absolute;
  bottom: -20px;
  left: 0px;
}

.o-mii-summary__bio {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.o-mii-summary__character {
  margin-left: 3rem;
  background: #faf9e7FF;
  box-shadow: 0px 8px 0px 0px #ffc336FF;
  border-radius: 50px;
  padding: 2.5rem 3.125rem;
  width: 50ch;
}

.o-mii-personality {
  position: absolute;
  bottom: -50px;
  right: -100px;
  z-index: 3;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  justify-content: center;
  align-items: center;
  padding: 1.1rem 2rem;
  width: fit-content;
  height: fit-content;
}

.o-mii-personality::after {
  content: "";
  position: absolute;
  z-index: -1;
  background: url("../../../graphics/misc/miiverse/personality-bg.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
  filter: invert(94%) sepia(8%) saturate(1066%) hue-rotate(144deg) brightness(96%) contrast(94%);
}

.o-mii-personality__name {
  width: fit-content;
  text-align: center;
  font-family: "Dita Bold";
  font-size: 1.1rem;
  /* -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #FFFFFF; */
  color: #04a1b3;
  text-shadow:
    -1px -1px 0 #FFFFFF,  
    1px -1px 0 #FFFFFF,
    -1px 1px 0 #FFFFFF,
    1px 1px 0 #FFFFFF;
}

.o-mii-personality__desc {
  width: 22ch;
  font-size: 0.9rem;
}

.o-mii-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.188rem;
  margin-top: 6rem;
}

.o-mii-heading {
  font-family: "Dreamlife";
  font-size: 2.6rem;
}

.o-mii-details__list {
  background: #faf9e7FF;
  box-shadow: 0px 8px 0px 0px #ffc336FF;
  padding: 2.5rem 3.125rem;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  width: 80%;
  height: fit-content;
}

.o-mii-details__item {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.o-mii-details__label {
  font-family: "Dita Bold";
  padding: 1rem 2rem;
  background: #efa300;
  border-radius: 50px;
  color: #FFFFFF;
}

.o-mii-details__info {
  font-family: "Dita";
}

.o-mii-details__item--trivia {
  align-items: flex-start;
  margin-top: 1rem;
  gap: 3rem;
}

.o-mii-gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 6rem;
  margin-bottom: 4rem;
  width: 100%;
  height: fit-content;
}

.o-game-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 80%;
  height: fit-content;
}

.o-game {
  padding: 0.8rem 1.5rem 0.8rem 1.3rem;
  border: none;
  border-radius: 100px;
  background: #fdfefe;
  font-family: "Dita Bold";
  color: #03243d;
  display: grid;
  grid-template-columns: 1rem auto;
  align-items: center;
  justify-items: center;
  gap: 1rem;
  box-shadow: 0px 4px 0px 0px #e1e1dbFF, 0px 8px 0px 0px #c9ac53FF;
}

.o-game:hover, .o-game input[type="checkbox"]:hover {
  cursor: pointer;
}

.o-game input[type="checkbox"] {
  /* remove default appearance */
  appearance: none;
  background-color: #fff; /* For iOS < 15 to remove gradient background */
  margin: 0;
  /* add custom appearance */
  font: inherit;
  color: #e1e1db;
  width: 2rem;
  height: 2rem;
  border: 3px solid #e1e1db;
  border-radius: 100px;
  background: none;
  display: grid;
  place-content: center;
}

.o-game input[type="checkbox"]::before {
  content: "";
  width: 2rem;
  height: 2rem;
  border: none;
  border-radius: 100px;
  background: #dc6830;
  background: url("../../../graphics/misc/miiverse/checked.svg");
  background-size: 98%;
  visibility: hidden;
}

.o-game input[type="checkbox"]:checked::before {
  visibility: visible;
}

.o-thumbnail-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1fr);
  justify-items: center;
  gap: 1.2rem;
  width: 80%;
  padding-top: 2rem;
  height: fit-content;
}

.o-thumbnail-container {
  aspect-ratio: 16/9;
  width: 300px;
  height: auto;
  border: 5px solid #efa300;
  overflow: hidden;
  position: relative;
}

.o-thumbnail-container:hover {
  transform: translateY(-5px) scale(1.02);
  box-shadow: 0px 4px 0px 0px #c9ac53FF;
  transition: 0.2s all;
  cursor: pointer;
}

.o-thumbnail {  
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.o-lightbox {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #13222dd6;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #ffffff;
  font-family: "Dita";
  gap: 1rem;
}

.o-lightbox__other {
  display: flex;
  flex: 0 0 auto; 
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 5rem 0 5rem;
  width: 100%;
  height: fit-content;
}

.o-lightbox-info > img {
  width: 50px;
  height: auto;
}

.o-lightbox-close > img {
  width: 40px;
  height: auto;
}

.o-lightbox__spacing {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.o-lightbox__content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* gap: 2rem; */
  width: 100%;
  height: 100%;
  /* padding: 0 2rem; */
}

.o-lightbox-nav, .o-lightbox-info, .o-lightbox-close {
  background: none;
  border: none;
  cursor: pointer;
}

.o-lightbox-nav {
  padding: 0 0rem;
}

.o-lightbox-nav > img {
  width: 40px;
  height: auto;
}

.o-lightbox-nav:hover {
  cursor: pointer;
}

.o-picture-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  height: 100%;
  padding: 0 0 2rem 0;
}

.o-picture {
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: 100%;
}

/* will decide if i need this later */

.u-remove-scroll {
  overflow: hidden;
}

.u-hidden {
  display: none;
}

/* height */

@media screen and (max-height: 750px) {
  .o-lightbox-nav > img {
    width: 30px;
    height: auto;
  }

  .o-lightbox-info > img, .o-lightbox-close > img {
    width: 35px;
    height: auto;
  }
  .o-lightbox__other {
    padding: 2rem 4rem 0 4rem
  }
}

/* width */

@media screen and (max-width: 1200px) {
  .o-thumbnail-list {
    grid-template-columns: repeat(2, 1fr);
  }
}